# Systemd unit file for node4ords

[Unit]
Description=Node4Ords - proxy to APEX using ORDS on Tomcat
After=syslog.target network.target

[Service]
Type=simple
EnvironmentFile=-/etc/node4ords.conf
ExecStart=/usr/local/bin/node4ords
StandardOutput=syslog
StandardError=syslog
User=root
Group=root

[Install]
WantedBy=multi-user.target
